$bg-gradient-blues:         linear-gradient(to right, #56ccf2, #2f80ed);
$bg-gradient-burning:       linear-gradient(to right, #ff416c, #ff4b2b);
$bg-light-primary:          rgb(13 110 253 / .11);
$color-info:                #0dcaf0;
$color-primary:             #6B7A99;
$color-primary-1:           #92A7BA;
$color-primary-2:           #B7D1E2;
$color-primary-3:           #D7DEE4;
$color-primary-4:           #E8ECEF;
$color-warning:             #ffc107;
$body-font:                 #32393f;
$color-body:                #f6f9fb;
