@import "_variables.scss";
.row.profile{
    &-image{
        max-width: 100px;
    }
    .nav{
        &-link{
           // border: 1px solid;
           border-radius: 0;
           background: $color-primary-4;
           //background: $bg-light-primary;
            &>div{justify-content: center;}
            &.active{
                background: $color-primary;
                //background: $bg-gradient-blues;
            }
        }
    }
    .tab{
        &-content{
            position: relative;
            &::before{
                content: '';
                width: 95%;
                height: 1px;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                position: absolute;
                box-shadow: 0 0 10px;
            }
        }
        &-title{
            @media(max-width:992px){
                display: none;
            }
        }
    }
}
.avatar{
    &-loader{
        position: absolute;
        height: 100%;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        &.show{
            display: flex;
        }
        .spinner-grow{
            background: $color-primary;
        }
    }
    &-img{
        width: 150px;
    }
    &-update{
        position: absolute;
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-primary;
        font-size: 25px;
        line-height: 1;
        padding: 7px;
        left: 7px;
        top: 3px;
        cursor: pointer;
        box-shadow: 0 0 5px -1px $color-primary;
    }
}
.star{
    &-col{
        &>.col-12{
            &:nth-child(2n+2){
                background: $color-primary-4;
            }
        }
    }
    &-review{
        display: flex;
        flex-flow: row wrap;
    }
    color: $color-primary;
    background: transparent;
    font-size: 13px;
    line-height: 1;
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $color-primary;
    box-shadow: none;
    margin-right: 10px;
    &.active{
        color: #fff;
        border: 1px solid $color-warning;
        box-shadow: 0 0 5px $color-warning;
        background: $color-warning;
    }
    &:last-child{
        margin-right: 0;
    }
}
.accordion{
    &-button{
        &::after{
            background-image: url(../images/icons/plus.png) !important;
            transform: none;
        }
        &:not(.collapsed){
            color: #fff !important;
            background: $color-primary !important;
            &::after{
                background-image: url(../images/icons/minus.png) !important;
            }
        }
        &:hover{
            color: $body-font !important;
            background: $color-primary-3 !important;
        }
        &:focus{
            border-color: rgba(0,0,0,0.13) !important;
            box-shadow: none !important;
        }
    }
}